<a href="https://colab.research.google.com/github/daizybhadresha/python_practice/blob/main/Python_3_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 2
print(id(a))
a = 3
print(id(a))

94400910817824
94400910817856

# Class, Inheritance

In [ ]:
class infra:                      
  no_of_rooms = 3                         # Class variables. Can be accessed with class name
  place = "Mumbai Suburban"               # Class & instance var can have same name 

  print(no_of_rooms)                      # class var can be accessed directly (from outside any method)

  def __init__(self, place, area):        # constructor
    print(place)
    self.place = place                    # instance variables
    self.area = area
    print("this is constructor")
  
  def specs(anything):                    # Every methods inside class must have 1 argument
    print("No.of rooms: ", anything.no_of_rooms) 
    ins_var = 30                          # instance variables.
    print("No.of rooms: ", no_of_rooms)   # throws error -> name 'no_of_rooms' is not defined

flat = infra("Mumbai", "Andheri")                    # At this point content inside constructor is executed
print("Class variable (accessed with class name /obj name): ", infra.no_of_rooms, flat.no_of_rooms)
# Class & instance var can have same name, differs on how we access it
print("Instance variable & Class var with same name: ", flat.place, infra.place)
print("Instance vars inside init & inside : ", flat.area)
print("Instance vars inside methods: ", flat.ins_var)
flat.specs()

3
Mumbai
this is constructor
Class variable (accessed with class name /obj name):  3 3
Instance variable & Class var with same name:  Mumbai Mumbai Suburban
Instance vars inside init & inside :  Andheri

AttributeError: ignored

In [ ]:
class Base(object):
  
    # Constructor
    def __init__(self, x):
        self.x = x    
  
class Derived(Base):
  
    # Constructor
    def __init__(self, x, y):
        Base.x = x 
        self.y = y
  
    def printXY(self):
       
       # print(self.x, self.y) will also work
       print(Base.x, self.y)
  
  
# Driver Code
d = Derived(10, 20)
d.printXY()

10 20

### OOP Concepts

Encapsulation

In [ ]:
class Person:
  __age = 10      # private variable
  name = "xyz"

  # A member method that changes private variable
  def access_hidden(self, add):
    self.__age = self.__age + add
    print(self.__age)

P1 = Person()
P1.access_hidden(3)
print(P1.name)

# We can access the value of hidden attribute by a tricky syntax
print(P1._Person__age)

# These lines causes error -> 
#'Person' object has no attribute 'age'
print(P1.age)
# 'Person' object has no attribute '__age'
print(P1.__age)

13
xyz
13

AttributeError: ignored

Abstraction

In [ ]:
from abc import ABC, abstractmethod

class A(ABC):             # even if I dont extend 'ABC', it worked
  @abstractmethod
  def abs_method(self):
    print("abstract method")
  def test_method(self):
    pass

class B(A):
  def test(self):
    pass
  def abs_method(self):                         
    print("instantiated abstract method")

b = B()   # Error : 'Can't instantiate abstract class B with abstract methods abs_method'  <- if i dont implement abstract method in 'B'
b.test()
b.abs_method()

instantiated abstract method

Inheritance

In [ ]:
class Base1:
  def __init__(self):
    self.str1 = "String 1 initialized directly"
    self.__privatevar = "Shh!"            # made private so it cannot be accessed by any derived classes
    print("Base1")

class Base2:
  def __init__(self, str2):
    self.str2 = str2
    print("Base2")

class Derived(Base1, Base2):
  def __init__(self, str2):
    Base1.__init__(self)
    Base2.__init__(self, str2)
    print("Derived")
    print(self.str1)
    print(self.str2)
  
# Driver Code
d = Derived("String 2 initialized by passing value")
print(d.privatevar)             # this should give error error

Base1
Base2
Derived
String 1 initialized directly
String 2 initialized by passing value

AttributeError: ignored

### Instance var & Class var - value change

In [ ]:
class Student:
  dept = "cs"
  
  def __init__(self, name):
    self.name = name
    #print(Student.dept)        <- Class Var use

s1 = Student("DB")
print(Student.dept, s1.dept, s1.name)

s2 = Student("JB")
print(Student.dept, s2.dept, s2.name)

s3 = Student("TM")
s3.dept = "fin"                            # this will change only for s3
print(Student.dept, s3.dept, s3.name, s2.dept, s2.name, s1.dept, s1.name)

Student.dept = "mech"                      # this will change for only s1, s2 since s3 mentioned explicit value to be changed to fin
print(Student.dept, s3.dept, s3.name, s2.dept, s2.name, s1.dept, s1.name)

cs cs DB
cs cs JB
cs fin TM cs JB cs DB
mech fin TM mech JB mech DB

### Class method & Static method

In [ ]:
from datetime import date
   
class Student:
    dept = 'cs'

    def __init__(self, name):
      self.name = name
      self.dept = 'mech'        # instance method can modify class var also with 'self'

    @classmethod
    def print_dept(cls):
      if cls.dept == 'cs':
        print("Computer Engineering")

    @staticmethod
    def is_adult(age):          # cannot access instance var
      print(Student.dept)       # Can use it this way
      if age > 18:
        print("Adult")
      else:
        print("Not Adult")
      
s1 = Student('mayank')
print(s1.name, s1.dept)
s1.print_dept()
s1.is_adult(12)

mayank mech
Computer Engineering
cs
Not Adult

### Destructor

In [ ]:
class Employee:
  
    def __init__(self):
        print('Employee created.')
  
    # Deleting (Calling destructor)
    def __del__(self):
        print('Destructor called, Employee deleted.')
  
obj1 = Employee()
obj2 = Employee()
del obj1               # deleted reference to object -> del function called automatically

Employee created.
Employee created.
Destructor called, Employee deleted.

# Operators

In [ ]:
# Operators : Multiply (*), Division (/), Floor Division (//), Modulo (%), Expotentiation (**)
# Division always return float

print("Intgr Division : ",10/5)
print("Float Division : ",10.0/5.0)
print("Floor Division : ",10//5)
print("Modulo(Rem)    : ",10%5)

print("Intgr Division : ",5/3)
print("Floor Division : ",5//3)
print("Modulo(Rem)    : ",5%3),

# Float + Integer = Float -> 4 * 2 = 8   but  10/5=2.0 -> * 4 = 8.0
print(10/5*4)  
print(6 + 6)
print(int(10/5))

Intgr Division :  2.0
Float Division :  2.0
Floor Division :  2
Modulo(Rem)    :  0
Intgr Division :  1.6666666666666667
Floor Division :  1
Modulo(Rem)    :  2
8.0
12
2

In [ ]:
# Membership Operators
x = ["apple", "banana", "orange"]

print("banana" in x)

print("banana" and "orange" in x)

print("banana" and "chickoo" in x)

print(["banana", "orange"] in x)   # this will search for a list(not elements of list) in the list x

if ("banana", "orange" in x):
  print("True")

True
True
False
False
True

In [ ]:
# Identity Operators

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x
print(x is y)

# returns False because x is not the same object as y, even if they have the same content
print(x == y)

True
False
True

In [ ]:
# Bitwise Operators

print(8 & 10)   # 1000 & 1010  1&1=1
print(8 | 10)   # OR  1+1=1 1+0=1
print(~ 8)      # NOT is 2's complement -> x = -x - 1 ->  -(x+1) -> -(8+1) = -1
print(~ 10)
print(8 ^ 10)   # XOR if bits are different then 1, same then 0  1^1/0^0=0 1^0/0^1=1
print(8 >> 2)   # Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
print(8 << 2)   # Shifts left but keeps all the digits - Shift left by pushing zeros in from the right and let the leftmost bits fall off
print(10 >> 2) 
print(10 << 2)

8
10
-9
-11
2
2
32
2
40

# Loops & Conditions

In [ ]:
# Condition - if else..elif

i = 20

if (i == 10): 
    print ("i is 10") 
elif (i == 15): 
    print ("i is 15") 
elif (i == 20): 
    print ("i is 20") 
else: 
    print ("i is not present")

# simple replacement to switch case

switcher = { 0: "zero", 1: "one", 2: "two"} 
# get() method of dictionary data type returns value of passed argument if it is present  
# in dictionary otherwise second argument ("nothing") will be returned
argument = 2
print(switcher.get(2, "nothing"))  
print(switcher.get(3, "nothing"))

# Loops

# while
count=0
while(count < 3):
  print(count)
  count=count+1

# single line while : if conent in while is jst a stmt
count=0
while (count < 3): count=count+1  # if while consists of single stmt

i is 20
two
nothing
0
1
2

In [ ]:
# Iterating - List, Tuple, String, Dictionary

# Iterating over a list  -  iterates over element
print("List Iteration") 
l = ["first", "second", "third"] 
for i in l: 
    print(i) 
       
# Iterating over a tuple (immutable)  -  iterates over element
print("\nTuple Iteration") 
t = ("first", "second", "third") 
for i in t: 
    print(i) 
       
# Iterating over a String  - iterates over char
print("\nString Iteration")     
s = "com sent"
for i in s : 
    print(i) 
       
# Iterating over dictionary - iterates over keys
print("\nDictionary Iteration")    
d = dict()  
d['xyz'] = 123
d['abc'] = 345
for i in d : 
    print("%s  %d" %(i, d[i]))     # i - key,  d[i] - element

List Iteration
first
second
third

Tuple Iteration
first
second
third

String Iteration
c
o
m

s
e
n
t

Dictionary Iteration
xyz  123
abc  345

In [ ]:
# Loop Control Stmts : continue (go to nxt iteration), break (come out of loop), pass (empty function)

# continue - Do nothing for this iteration
print("\nContinue")  # continue returns control to the line 1 of the loop
for letter in 'geeksforgeeks':  
    if letter == 'e' or letter == 's': 
         continue
    print('Current Letter :', letter)

# break - stop anything from now
print("\nbreak")     # break completely comes out of the loop
for letter in 'geeksforgeeks':  
    if letter == 'e' or letter == 's': 
         break
    print('Current Letter :', letter)

# pass - pass just does nothing - for empty loops - returns control to the next line / nxt iteration
# useful for writing a function with no body - when you don’t write the implementation of a function but you want to implement it in the future
# this is to avoid getting any error for empty fucntion with no content
print("\npass")      
for letter in 'geeksforgeeks':  
    if letter == 'e' or letter == 's': 
         pass
    print('Current Letter :', letter)

Continue
Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

break
Current Letter : g

pass
Current Letter : g
Current Letter : e
Current Letter : e
Current Letter : k
Current Letter : s
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : e
Current Letter : e
Current Letter : k
Current Letter : s

In [ ]:
# Print the numbers 0, 1, 2:
for i in range(3):
  print(i)

0
1
2

# Variable & Assignment

In [ ]:
#@title global, local, nonlocal variables
x = "awesome"       # Global Outside Function

def myfunc():
  x = "fantastic"   # Local Var.
  print("Python is " + x)

myfunc()
print("Python is " + x)

## To create global variable - but inside the function

def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

# nonlocal is used in nested functions. the scope is not global. it is not local to inner function. it bcomes local to outer function
def outer():
    x = "local"
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)
    inner()
    print("outer:", x)
outer()
print(x)

Python is fantastic
Python is awesome
Python is fantastic
inner: nonlocal
outer: nonlocal
fantastic

### Use of underscore in variable

In [ ]:
## Use of underscore

# 1. Ignoring Values

a, _, b = (1,2,3)
print(a,b)

a, *_, b = (1,2,3,4,5,6,7)
print(a,b)

#2. Looping

print("\n") 
for _ in range(3):
  print(_) 

langs = ["Spanish", "English", "Germany"]
for _ in langs:
  print(_)

_ = 1
while _ <= 5:
  print(_, end = ' ') # default value of 'end' id '\n' in python. we're changing it to space
  _ = _ + 1

# 3. Seperating Digits - Just for better readbility, in the end value will be same
lakh = 1_00_000
binary = 0b_0010
octa = 0o_64; hexa = 0x_23_ab

print("\n")
print(lakh)
print(binary)
print(octa)
print(hexa)

1 3
1 7


0
1
2
Spanish
English
Germany
1 2 3 4 5

100000
2
52
9131

In [ ]:
# 4. Naming uning underscore


#Single Pre Underscore:- _variable/ _func - Just a notation for Internal use -Can be imported in a diff way
class Sample:
  without_lead_underscore = 0
  _with_lead_underscore = 1

  def without_lead_underscore():
    print("Function without lead underscore")

  def _with_lead_underscore():
    print("Function with lead underscore")



```
# if the above code is saved as my_functions.py
>>> from my_functions import *
>>> without_lead_underscore()
'Function without lead underscore'
>>> _with_lead_underscore()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name '_with_lead_underscore' is not defined
```



```
# You avoid the above error by importing the module normally.

>>> import my_functions
>>> my_functions.without_lead_underscore()
'Function without lead underscore'
>>> my_functions._with_lead_underscore()
Function with lead underscore
```

In [ ]:
# Single Post Underscore:- variable_  : To use python keyword with a twist

# 'class' is a keyword

# Adding _ makes it work
def function(class_='ClassName'):
  pass

# This wont
def function(class='ClassName'):
  pass

SyntaxError: ignored

In [ ]:
# Double Pre Underscores:- __var : Name Mangling, prefix of _className is always added by interpreter

class Samplea:
  test_var = 0              # class variable
  
  def __init__(self):    
    self.a = 1          # instance variable
    self.__b = 2
  
  def __double_lead(self):
    c = 3
    print("__double_lead function")

  def test_func(self):
    pass

obj1 = Samplea()
dir(obj1)           # This shows vars a as ->  'a',       __b as '_Samplea__b'   (_className__var)


print(obj1._Samplea__b)
obj1._Samplea__double_lead()

['_Samplea__b',
 '_Samplea__double_lead',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'test_func',
 'test_var']

In [ ]:
class Sampleb(Samplea):
  def test(self):
    super().__double_lead()

  def __double_lead(self):
    print("__double_lead function")


obj2 = Sampleb()
dir(obj2)

['_Samplea__b',
 '_Samplea__double_lead',
 '_Sampleb__double_lead',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'a',
 'test']

# Literals : String, Numeric, Bool, Special

In [ ]:
#@title assign value to multiple variables
x, y, z = "Orange", 2, 2.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

# OR
x = y = z = "Orange"
print("x: " + x)

# SOMETHING INTERESTING !!
x, y = ["apple", "banana"]    # I wanted x & y to have same list, but it does not work this way
print(x, type(x))
print(y, type(y))

x, y = ["apple", "banana"], ["apple", "banana"]
print(x, type(x))
print(y, type(y))

x, y = "apple", "banana"
print(x, type(x))
print(y, type(y))

Orange <class 'str'>
2 <class 'int'>
2.0 <class 'float'>
x: Orange
apple <class 'str'>
banana <class 'str'>
['apple', 'banana'] <class 'list'>
['apple', 'banana'] <class 'list'>
apple <class 'str'>
banana <class 'str'>

String literal can use both single, double, or triple quotes  ->    ' string',  "string", '''string''', """string """

In [ ]:
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code.
Second line"""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
C
This is a multiline string with more than one line code.
Second line
Ünicöde
raw \n string

Numeric Literals : Int, float, complex

In [ ]:
# 4 below all literals are converted into decimal values while print
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal : expotentials are converted into float
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)  # x, imaginary, real part of complex numbers

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

Boolean Literals

In [ ]:
# In Python, True represents the value as 1 and False as 0
# True False can also be used in numeric expression

x = (1 == True)   # x will be true because 1 == 1
y = (1 == False)  
a = True + 4      # 1 + 4
b = False + 10

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

Special Literals

Python contains one special literal i.e. None. We use it to specify that the field has not been created.

In [ ]:
drink = "Available"
food = None
print(drink)
print(food)

Available
None

# Iterators

**Python Iterators**

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator

Even strings are iterable objects, and can return an iterator

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

mystr = "banana"
myit = iter(mystr)

# print(next(myit))
# print(next(myit))
# print(next(myit))
# print(next(myit))
# print(next(myit))
# print(next(myit))

# OR

try:
  while(1==1):
    print(next(myit))
except StopIteration:
  print("String ended")

mydict = {"1":"one", "2":"two", "3":"three"}
myit = iter(mydict)
try:
  while(1==1):
    key = next(myit)
    print(key, mydict[key] )
except StopIteration:
  print("Dict ended")

apple
banana
cherry
b
a
n
a
n
a
String ended
1 one
2 two
3 three
Dict ended

Generators : Functions that return a generator iterator. It produces series of values usable in a for-loop or which can be retried 1 at a time using next() function

In [ ]:
sum = 0
for i in range(10):
  sum = sum + i*i

print(sum)

# OR 

print(sum(j*j for j in range(10)))

285


To visualize the methods and attributes of any Python object, you can use dir(), which is a built-in function that serves that purpose. 
If you run dir() with an empty dictionary as an argument, then you’ll be able to see all the methods and attributes that dictionaries implement:

In [ ]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Functions

**Return Statements**

In [ ]:
def test():
  print("function called")
  return "return statement"

print(test)
print(test())

def square_point(x, y, z):
  x_squared = x * x
  y_squared = y * y
  z_squared = z * z
  # Return all three values:
  return x_squared, y_squared, z_squared

print(square_point(3, 4, 5))

# OR
three_squared, four_squared, five_squared = square_point(3, 4, 5)

<function test at 0x7fb62775e830>
function called
return statement
(9, 16, 25)

**Call by Val vs Call by ref**

In [ ]:
# Call by val 
def inc(num):
  num = num + 1             # Since we are doing re-assignment, address will change, hence here 'num' is a new var

num = 1
inc(num)                    # So original remains same
print(num)

# Instance 2
def add_more(mylist):
  mylist.append(3)          # No reassignment, just change with mutable object

mylist = [1,2]
add_more(mylist)            # Change is reflected, hence same list
print(mylist)    

# Instance 3
def clear_list(mylist):
  mylist = []               # Complete reassignment, address change hence new variable -> older remains same
mylist = [1,2]
clear_list(mylist)
print(mylist) 

### If we do something which completely changes the value of variable or we perform reassignment 
### ->  address changes

# Instance 4
def neg_num(num):         
  return float(num)

num = 1
print(id(num))
num = neg_num(num)
print(id(num))
print(num)

1
[1, 2, 3]
[1, 2]
94372300102144
140266058010064
1.0

**Arguments**

In [ ]:
# default value argument (Ex: msg)

# def test1(name, msg="Hey", time):            # This gave error-> SyntaxError: non-default argument follows default argument
def test1(name, time, msg="Hey"):              # Default value arg. should be at last while declaring as well as while calling
  print("Hello", name + "," + msg, time)

# 3 positional arguments
test1("Daizy", "Good morning!", "10:00 AM") 
test1("Daizy", "10:00 AM", "Good morning!")

# 3 keyword arguments   
test1(name="Daizy", time="10:00 AM", msg="Good morning!")

# 3 keyword arguments (out of order)
test1(msg="Good morning!", time="10:00 AM", name="Daizy")

# 1 positional, 2 keyword   
test1("Daizy", "10:00 AM", msg="Good morning!")
test1("Daizy", time="10:00 AM", msg="Good morning!")        

# test1(name="Daizy", msg="Good morning!", "10:00 AM")   # SyntaxError: positional argument follows keyword argument # While calling also the value argument should be at last
# test1("10:00 AM", name="Daizy", msg="Good morning!")   # TypeError: test1() got multiple values for argument 'name'

# send arguments with the key = value syntax.  The order of the arguments does not matter.
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

Hello Daizy,10:00 AM Good morning!
Hello Daizy,Good morning! 10:00 AM
Hello Daizy,Good morning! 10:00 AM
Hello Daizy,Good morning! 10:00 AM
Hello Daizy,Good morning! 10:00 AM
Hello Daizy,Good morning! 10:00 AM
The youngest child is Linus

Variable length arguments : *args & **kwargs

In [ ]:
# If the number of arguments is unknown, add a * before the parameter name
def adder(*num):
    sum = 0
    print("\nData type of argument:",type(num))
    for n in num:
        sum = sum + n
    print("Sum:",sum)

adder(3,5)
adder(1,2,3,5,6)

def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

# keyword arguments that will be passed into your function, add two asterix: **     The function will receive a dictionary of arguments
def intro(**data):
    print("\nData type of argument:",type(data))
    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'tuple'>
Sum: 8

Data type of argument: <class 'tuple'>
Sum: 17
The youngest child is Linus

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

**Function inside function**

In [ ]:
def myfunc():
  x = 300
  def myinnerfunc():
    sam = 200
    print(x)
  #print(sam)    # Not accessible since 'sam' is beyond scope
  myinnerfunc()

myfunc()

300

**Lambda function**

Syntax :
lambda arguments: expression

In [ ]:
double = lambda x: x * 2
print(double(5))

# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list( filter(lambda x: (x%2 == 0) , my_list) )
print(new_list)

# Program to double each item in a list using map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))e
print(new_list)

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = lambda x: x * 2
print(new_list(my_list))

10
[4, 6, 8, 12]
[2, 10, 8, 12, 16, 22, 6, 24]
[1, 5, 4, 6, 8, 11, 3, 12, 1, 5, 4, 6, 8, 11, 3, 12]

function2

NameError: ignored

**Raise an exception**

In [ ]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: ignored

**User Input**

In [ ]:
# User Input

# Python 3.6
username = input("Enter username:")
print("Username is: " + username)

# Python 2.7
# username = raw_input("Enter username:")
# print("Username is: " + username)

Enter username:sampple
Username is: sampple

**Recursion**

In [ ]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
final = tri_recursion(6)  # if not assigned to any variable 21 will be printed twice bcuz other than print final value is also returned in the end that gets printed agian at last

Recursion Example Results
1
3
6
10
15
21

**Range function**

In [ ]:
## xrange() of Python 2.x doesn’t exist in Python 3.x

# for x in xrange(1, 5): 
#    print(x) 
# Output here : NameError: name 'xrange' is not defined

num = int(input("Enter integer: ")) 
for x in range(1, num):               # 1 - (num-1)
    print(x)

for x in range(num): 
    print(x)

Enter integer: 4
1
2
3
0
1
2
3

# Error Handling

**try except else finally**

try block : to test a block of code for errors.

except block : handles the error. Can define any number of 'except'

else keyword : executed if no errors were raised

finally block : executed regardless of the result of the try- and except blocks.

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The 'try except' is finished")

print("\n")

try:
  print(ajeeb_var)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")
else:
  print("Nothing went wrong")
finally:
  print("The 'try except' is finished")


try:
    a = 1/0
except Exception as e:
    print(e)

Hello
Nothing went wrong
The 'try except' is finished


Variable x is not defined
The 'try except' is finished
division by zero

# Data Types, Casting


Text Type: str 

Numeric Types: int, float, complex 

Sequence Types: list, tuple, range 

Mapping Type: dict 

Set Types: set, frozenset 

Boolean Type: bool 

Binary Types: bytes, bytearray, memoryview

In [ ]:
x = "Hello World"	                              # str	
print(type(x))
x = 'Hello World'	                              # str	
print(type(x))
x = '''Hello World'''	                          # str	
print(type(x))
x = """Hello World"""                           # str	
print(type(x))
x = 20	                                        # int	
print(type(x))
x = 20.5                                        # float	
print(type(x))
x = 1j	                                        # complex	
print(type(x))
x = ["apple", "banana", "cherry"]	              # list	- hetero or x = list(["apple", "banana", "cherry"])
print(type(x))
x = ("apple", "banana", 3)	                    # tuple	- hetero
print(type(x))
x = range(6)	                                  # range	0-5
print(type(x))
x = {"name" : "John", "age" : 36}	              # dict	or  x = dict() x['name'] = 'John' x['age'] = 36
print(type(x))
x = {"apple", "banana", "cherry"}	              # set	
print(type(x))
x = frozenset({"apple", "banana", "cherry"})	  # frozenset	
print(type(x))
x = True	                                      # bool	
print(type(x))
x = b"Hello"	                                  # bytes	
print(x, type(x))
x = bytearray(5)	                              # bytearray	
print(x, type(x))
x = memoryview(bytes(5))	                      # memoryview
print(x, type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7f4939c09e20> <class 'memoryview'>

**Numbers & Type conversion**

int : whole number, positive or negative, without decimals, of unlimited length.

float : a number, positive or negative, containing one or more decimals,, scientific numbers with an "e" to indicate the power of 10.

In [ ]:
# Casting
x = int(1)       # x will be 1
y = int(2.8)     # y will be 2
z = int("3")     # z will be 3
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
x = str("s1")    # x will be 's1'
y = str(2)       # y will be '2'
z = str(3.0)     # z will be '3.0'

# with statement

In [ ]:
## without 'with'
file = open('file_path', 'w')
file.write('hello world')
file.close()

## OR
file = open('file_path', 'w')
try:
  file.write('hello world')
finally:
  file.close()


## 'with' statement
with open('file_path', 'w') as file:
  file.write('hello world')

# Strings

In [ ]:
## Creating

string1 = "DAIZY BHADRESHA"
print(type(string1), string1)
string1 = 'DAIZY BHADRESHA'
print(type(string1), string1)
string1 = '''DAIZY BHADRESHA'''
print(type(string1), string1)

# multi-line
string1 = '''DAIZY 
  ..  BHADRESHA'''
print(type(string1), string1)

<class 'str'> DAIZY BHADRESHA
<class 'str'> DAIZY BHADRESHA
<class 'str'> DAIZY BHADRESHA
<class 'str'> DAIZY
  ..  BHADRESHA

In [ ]:
## slicing

string1 = '''DAIZY BHADRESHA'''
print(string1[0])
print(string1[-3])

print(string1[3:12])  # including 3 (starting from 0) excluding 12
print(string1[3:-2])  # including 3 excluding -2

D
S
ZY BHADRE
ZY BHADRES

In [ ]:
## Updating - str are immutable. Cannot update/delete any character in it. Reassignment can be done. Deleting entire string (variable) possible

string1 = '''DAIZY BHADRESHA'''

del string1   # del string1[2] - not possible 
# string1[2] = 'p' - not possible

# possible
string1 = '''DAIZY BHADRESHA'''
string1 = '''DAIZY'''

In [ ]:
## Escape Sequencing in Python

# escape character \
string1 = 'DAIZY B\'HADRESHA'
print(string1)

string1 = "DAIZY B\"HADRESHA"
print(string1)

# opposite quotes work
string1 = "DAIZY B'HADRESHA" 
print(string1)

string1 = 'DAIZY B"HADRESHA'
print(string1)

# paths 
string1 = 'C:\\Python\\Geeks\\'     #    'C:\Python\Geeks\'  shows error
print(string1)

# To ignore the escape sequences in a String, r or R is used, this implies that the string is a raw string and escape sequences inside it are to be ignored. 
string1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ") 
print(string1) 

string1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ") 
print(string1)

DAIZY B'HADRESHA
DAIZY B"HADRESHA
DAIZY B'HADRESHA
DAIZY B"HADRESHA
C:\Python\Geeks\

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

In [ ]:
## Formatting of strings

# Default order 
String1 = "{} {} {}".format('Daizy', 'Jayesh', 'Bhadresha')
print(String1)

# Positional Formatting 
String1 = "{1} {0} {2}".format('Jayesh', 'Daizy', 'Bhadresha') 
print(String1) 

# Keyword Formatting 
String1 = "{fname} {mname} {sname}".format(mname = 'Jayesh', fname= 'Daizy', sname='Bhadresha') 
print(String1) 

# Formatting of Integers - binary
print("\nBinary representation of {0} is {0:b}".format(16) ) 
  
# Formatting of Floats - exponent
print("\nExponent representation of {0} is {0:e}".format(165.6458))
  
# Rounding off Integers - float
String1 = "{0:.2f}".format(1/6)    # 1/6= 0.166666
print("\none-sixth is : ", String1)

Daizy Jayesh Bhadresha
Daizy Jayesh Bhadresha
Daizy Jayesh Bhadresha

Binary representation of 16 is 10000

Exponent representation of 165.6458 is 1.656458e+02

one-sixth is :  0.17

In [ ]:
## Old style Formatting for integers

Integer1 = 123.3456789
print("Formatting in 3.2f format: ") 
print('The value of Integer1 is %3.2f' %Integer1) 
print("Formatting in 2.2f format: ") 
print('The value of Integer1 is %2.2f' %Integer1) 
print("\nFormatting in 3.4f format: ") 
print('The value of Integer1 is %3.4f' %Integer1)

Formatting in 3.2f format:
The value of Integer1 is 123.35
Formatting in 2.2f format:
The value of Integer1 is 123.35

Formatting in 3.4f format:
The value of Integer1 is 123.3457

In [ ]:
# Other methods 

print("PrOgRaMiZ".lower())
print("PrOgRaMiZ".upper())
print("This will split all words, into a list".split())
print("This will split all words, into a list".split(","))
print(' '.join(['This', 'will', 'join', 'all', 'words', 'into', 'a', 'string']))
print('Happy New Year'.find('ew'))
print('Happy New Year'.replace('Happy','Brilliant'))

programiz
PROGRAMIZ
['This', 'will', 'split', 'all', 'words,', 'into', 'a', 'list']
['This will split all words', ' into a list']
This will join all words into a string
7
Brilliant New Year

In [ ]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Data Structures

In [ ]:
## Find & Point difference btw 2 dataframes

import pandas as pd

df1=pd.DataFrame({'A':[1,2,3],'B':[2,3,4]})
df2=pd.DataFrame({'A':[1,3,2],'B':[2,2,3]})
print(df1)
print(df2)
df1.merge(df2, indicator = True, how='outer').loc[lambda x : x['_merge']!='both']

   A  B
0  1  2
1  2  3
2  3  4
   A  B
0  1  2
1  3  2
2  2  3

   A  B      _merge
2  3  4   left_only
3  3  2  right_only

In [ ]:
## dict does allow same keys - returns last value of the same key

x = {"name" : "John", "name" : 36}
print(x["name"])

36