<a href="https://colab.research.google.com/github/daizybhadresha/python_practice/blob/main/Python_Tuple_Range_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Creation

In [ ]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# paranthesis is not mandatory
my_tuple = 3, 4.6, "dog"
print(type(my_tuple), my_tuple)

# tuple with one element 
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

()
(1, 'Hello', 3.4)
<class 'tuple'> (3, 4.6, 'dog')
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

('mouse', [8, 4, 6], (1, 2, 3))
mouse
[8, 4, 6]
(1, 2, 3)

In [ ]:
## Concatenation

print((1, 2, 3) + (4, 5, 6))

my_tuple = (1, 2, 3, 'mouse')
my_tuple = my_tuple + (3,4,5)
print(my_tuple)

## Reassignment of items is not possible
my_tuple[1] = 9

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 'mouse', 3, 4, 5)

TypeError: ignored

### Slicing

In [ ]:
## Slicing  - Same as list

List = ('G','E','E','K','S','F','O','R','G','E','E','K','S')

# index starts with 0, excludes 2nd param... 2nd param is always excluded (:2nd param)
print(List[3:8])    # 0.1.2    3 - 7th  
print(List[5:])     # 5 - last
print(List[:])      # all
print(List[:-6])    # 0th to -5
print(List[-6:-1])  # -6 to -2
print(List[-1:-6])  # since invalid - returns nothing

('K', 'S', 'F', 'O', 'R')
('F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S')
('G', 'E', 'E', 'K', 'S', 'F', 'O')
('R', 'G', 'E', 'E', 'K')
()

In [ ]:
List = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')  # 7 elements : 0 - 6
print(List[::])     # same as print(List[:])
print(List[::2])    # OR a[0:6:2]   Start to end every 2nd elem (for stepping first elem is always considered)
print(List[1::2])   # OR a[1:6:2]   2nd elem till last step 2
print(List[::-2])   # OR a[6:0:-2]  end to start step 2
print(List[::-1])   # Reverse list

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
('foo', 'baz', 'quux')
('bar', 'qux', 'corge')
('corge', 'qux', 'bar')
('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

### Other Methods

In [ ]:
my_tuple = ("mouse", 6, 3, 'p', 2, 3)

# Counts occurence of particular element
print(my_tuple.count(3))     

# Find index of the element (1st occurrence)
print(my_tuple.index("p"))  

# Delete tuple
del my_tuple
print(my_tuple)

2
3

NameError: ignored

### Tuple vs List Size

In [ ]:
# tuple requires less space
a= (1,2,3,4,5,6,7,8,9,0)
b= [1,2,3,4,5,6,7,8,9,0]

# Dict can be replaced by tuple in few instances bcuz - it takes less space then dictionary
# instead of -> List of tuples  --use-- Dictionary of Tuples/ List
c= [('Swordfish', 'Dominic Sena', 2001), ('Snowden', ' Oliver Stone', 2016), ('Taxi Driver', 'Martin Scorsese', 1976)] 
d= {'Swordfish' : ('Dominic Sena', 2001), 'Snowden': ('Oliver Stone', 2016), 'Taxi Driver': ('Martin Scorsese', 1976)}
e= {'Swordfish' : ['Dominic Sena', 2001], 'Snowden': ['Oliver Stone', 2016], 'Taxi Driver': ['Martin Scorsese', 1976]}

print("Tuple vs List", "a=", a.__sizeof__(), "b=", b.__sizeof__())
print('List of tuples       c=',c.__sizeof__())
print('Dict of tuple values d=',d.__sizeof__())
print('Dict of list values  e=',d.__sizeof__())

Tuple vs List a= 104 b= 120
List of tuples       c= 64
Dict of tuple values d= 216
Dict of list values  e= 216

In [ ]:
dir(())

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### Range

Creation

In [ ]:
# empty range
print(range(0), list(range(0)))

# using range(stop)
print(range(10), list(range(10)))

# using range(start, stop)
print(range(1, 10), list(range(1, 10)))

# customised list -> range(start, stop, step)  
print(range(2,12,2), list(range(2,12,2)))
print(range(2, -14, -2), list(range(2, -14, -2)))
# print(list(range(2, 5, 0))) # range() arg 3 must not be zero

range(0, 0) []
range(0, 10) [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(1, 10) [1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 12, 2) [2, 4, 6, 8, 10]
range(2, -14, -2) [2, 0, -2, -4, -6, -8, -10, -12]